body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.colored {
    background: linear-gradient(to right, #43cea2, #185a9d);
}

.accordion {
    width: 50%;
}

.mission {
    display: flex;
    flex-direction: column;
    border-style: solid;
    text-align: center;
    justify-content: center;
}